Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

 mongo db is database where data stored and retrive .it is designed to  store large scale of  data in set,json  or other form other then table . it is a no sql or not only sql where data store is not store in table form
 
The non-relational database, or NoSQL database, stores data. However, unlike the relational database, there are no tables, rows, primary keys or foreign keys.  Instead, the non-relational database uses a storage model optimized for specific requirements of the type of data being stored.

MongoDB stores data in collections with have dynamic schema. This flexible approach to storing data makes it particularly suitable for developers who may not be database experts, yet want to use a database to support the development of their applications.

Compared to MySQL, this flexibility is a significant advantage to get the best out of a relational database

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [93]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pwskills:pwskills@cluster0.kemeb3b.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [94]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [95]:
db = client['pwskills']

In [96]:
data_coll=['my_record']

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [32]:
data1 = {'name':'ak_saxena',
        'course_enrolled':'datascience_masters2',
        'course_duration':'9_month'}

In [33]:
data_coll.insert_one(data1)

In [35]:
 data2 = [
  { "name": "Avi", "address": " sreet 652" },
  { "name": "meet", "address": "kota" },
  { "name": "harshit", "address": "dadabari" },
  { "name": "kunal", "address": "delhi" }]

In [36]:
data_coll.insert_many(data2)

In [60]:

for i in data_coll.find(data1):
    print(i)

{'_id': ObjectId('64c5f4fe60b58a9b6b331d05'), 'name': 'ak_saxena', 'course_enrolled': 'datascience_masters2', 'course_duration': '9_month'}

In [50]:
 data_coll.find_one({'name':'Avi'})

{'_id': ObjectId('64c5f59c60b58a9b6b331d06'),
 'name': 'Avi',
 'address': ' sreet 652'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [62]:
#MongoDB's find() method selects documents from a collection or view and returns a cursor to those documents. There are two #parameters in this formula - query and projection. Query is an optional parameter that specifies the criteria for selection. 
for i in data_coll.find():
    print(i)

{'_id': ObjectId('64c5f4fe60b58a9b6b331d05'), 'name': 'ak_saxena', 'course_enrolled': 'datascience_masters2', 'course_duration': '9_month'}
{'_id': ObjectId('64c5f59c60b58a9b6b331d06'), 'name': 'Avi', 'address': ' sreet 652'}
{'_id': ObjectId('64c5f59c60b58a9b6b331d07'), 'name': 'meet', 'address': 'kota'}
{'_id': ObjectId('64c5f59c60b58a9b6b331d08'), 'name': 'harshit', 'address': 'dadabari'}
{'_id': ObjectId('64c5f59c60b58a9b6b331d09'), 'name': 'kunal', 'address': 'delhi'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [82]:
 data_coll.insert_many(data3)

In [81]:
data3 = [
  { "name": "Avi", "age": " 23" },
  { "name": "meet", "age": "24" },
  { "name": "harshit", "age": "21" },
  { "name": "kunal", "age": "24" }]

In [97]:
db = client['pwskills']

In [98]:
data_coll=['my_record']

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively.

In [112]:
db.data_coll.find().sort({name:1})

NameError: name 'name' is not defined

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() is used when delete one ducument from the database

delete_many ()is used where delete more than one ducument

drop ()is used when erase or delete all the data from database from which record is created

Q2. State and Explain the features of MongoDB.

1 Document Oriented -  the data is stored in key-value pairs instead of rows and columns proviide flexibility compare to RDBMS

2  Schema-less Database- collection can hold different types of documents in it. In the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size

3  Scalability -